*{
  margin: 0;
}
#name-header {
  display: flex;
  float: left;
  background-color: teal;
  border-radius: 2px;
  padding: 5px;
  color: white;
  font-family: Great Vibes, cursive;
  padding-right: 20px;
  text-align: center;
}
nav {
  width: 98%;
  margin: 0 auto;
  background-color: lightblue;
  height: auto;
  border-radius: 5px;
}
nav ul {
  padding: 4.5px;
}
.about-me-main, .contact-main{
  margin-top: 20px;
  margin-left: 20px;
  background-color: white;
  color: teal;
}
.about-me-card, .contact-card{
  border: 2px solid lightgrey;
  border-radius: 5px;
}
#about-me-img {
  float: left;
  border-radius: 10px;
  
}
footer{
  background-color: lightblue;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  
}
footer p {
  padding: 10px;
  opacity: 0.5;
}
